.button {
    background-color: $btn-bg;
    border: none;
    color: #fff;
    line-height: 1.2;
    cursor: pointer;
    padding: $btn-padding;
    text-transform: uppercase;
    font-size: $base-font-size;
    margin-bottom: $space;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--outline {
    background-color: transparent;
    border: 1px solid $button-outline-color;
    color: $button-outline-color;
    padding: .3rem .8rem;
    margin: 0 $space 0 0;
}

.button--outline:hover {
    background: $brand-primary;
    color: #fff;
}

.button--link-text {
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

.button--secondary {
    color: $button-secondary-color;
    border: 1px solid $button-secondary-border-color;
    background-color: $button-secondary-bg;
}